/* Responsividade */
@media (max-width: 768px) {
  :root {
    --space-unit: 0.875rem;
    --font-size-root: 85%;
  }

  .tag-card {
    max-width: 250px;
  }
}

@media (max-width: 600px) {
  :root {
    --space-unit: 0.75rem;
    --font-size-root: 75%;
  }

  header {
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-sm);
  }

  [data-nav] {
    width: 100%;
    justify-content: center;
  }

  [data-nav] nav {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
  }

  header .header-actions {
    width: 100%;
    justify-content: end;
  }

  .home-video-management {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
  }

  .view.excerpts-tagged {
    grid-template-columns: 1fr;
  }

  .tag-card {
    max-width: 80%;
  }
  
  .step {
    flex-direction: column;
    text-align: center;
  }

  .step .content-wrapper {
    text-align: center;
  }
}

@media (max-width: 375px) {
  :root {
    --space-unit: 0.625rem;
    --font-size-root: 65%;
  }

  [data-nav] nav {
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  .tag-card {
    max-width: 90%;
  }
}
