.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.375rem var(--accent);
  border-radius: 0.625rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.375rem var(--text-highlight);
  border-radius: 0.625rem;
}

.priority-high {
  background: var(--danger);
  color: var(--text-primary);
}

.priority-medium {
  background: var(--warning);
  color: var(--text-primary);
}

.priority-low {
  background: var(--success);
  color: var(--text-primary);
}

.hidden {
  display: none !important;
}

.icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: var(--icon-filter);
  width: 24px;
  height: 24px;
}

/* Tamanhos de ícones adaptáveis */
i.small {
  width: 16px;
  height: 16px;
}

i.large {
  width: 32px;
  height: 32px;
}