button {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs) var(--spacing-md);
  border: 1px solid var(--button-border-primary);
  border-radius: var(--border-radius);
  cursor: pointer;
  user-select: none;
  background: var(--button-bg-primary);
  color: var(--button-text-primary);
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  transition: background-color var(--animation-duration) ease,
    color var(--animation-duration) ease,
    transform var(--animation-duration) ease;
}

button:focus {
  /* box-shadow: var(--shadow-lg); */
  color: var(--button-text-primary);
  border: 1px solid var(--button-border-focus);
  box-shadow: var(--button-shadow-focus);
  /* transform: scale(0.95); */
}

button:hover {
  /* opacity: 0.9; */
  transform: scale(1.02);
  background: var(--button-bg-primary-hover);
  color: var(--button-text-primary);
  box-shadow: var(--button-shadow-hover);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
  background: var(--button-bg-primary-disabled);
  color: var(--button-text-disabled);
  /* box-shadow: inset 0 0 2px 0 var(--border); */
  box-shadow: var(--button-shadow-disabled);
  transform: none;
}

button.button-secondary {
  background: var(--button-bg-secondary);
  border: 1px solid var(--button-border-secondary);
  color: var(--button-text-secondary);
  font-weight: var(--font-weight-regular);
  transition: background-color var(--animation-duration) ease,
    color var(--animation-duration-short) ease;
}

button.button-secondary:focus {
  background: var(--button-bg-secondary-focus);
  color: var(--button-text-secondary);
  border: 1px solid var(--button-border-focus);
  box-shadow: var(--button-shadow-focus);
}

button.button-secondary:hover {
  background: var(--button-bg-secondary-hover);
  color: var(--bg-primary);
  box-shadow: var(--button-shadow-hover);
}

button.button-secondary:disabled {
  background: var(--button-bg-secondary-disabled);
  border: 1px solid var(--button-border-disabled);
  color: var(--button-text-disabled);
}

button.button-tertiary {
  background: var(--button-bg-tertiary);
  border: 1px solid var(--button-border-tertiary);
  color: var(--button-text-tertiary);
  box-shadow: var(--button-shadow-tertiary);
  font-weight: var(--font-weight-regular);
  transition: border var(--animation-duration-long) ease,
    color var(--animation-duration) ease,
    box-shadow var(--animation-duration-long) ease;
}

button.button-tertiary:focus {
  border: 1px solid var(--button-border-focus);
  color: var(--button-text-tertiary-focus);
  box-shadow: var(--button-shadow-tertiary-focus);
}

button.button-tertiary:hover {
  border: 1px solid var(--button-border-tertiary-hover);
  color: var(--button-text-tertiary-hover);
  box-shadow: var(--button-shadow-tertiary-hover);
}

button.button-tertiary:disabled {
  background: var(--button-bg-tertiary-disabled);
  border: 1px solid var(--button-border-tertiary-disabled);
  color: var(--button-text-tertiary-disabled);
}

button i {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  filter: var(--icon-filter);
  transition: filter var(--animation-duration-long) ease;
}

button:hover i {
  filter: var(--icon-filter-hover);
}

button:disabled i {
  filter: var(--icon-filter-disabled);
}

button.button-secondary i {
  filter: var(--icon-filter);
}

button.button-tertiary i {
  filter: var(--icon-filter-tertiary);
}

button.button-secondary:hover i,
button.button-tertiary:hover i {
  filter: var(--icon-filter-hover);
}

button.button-shine {
  position: relative;
  overflow: hidden;
}

button.button-shine::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transform: skewX(-20deg);
  transition: opacity var(--animation-duration) ease;
}

button.button-shine:hover::after {
  animation: shine var(--animation-duration-extra-long) ease-in-out backwards;
}

@keyframes shine {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
