.videos-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  max-width: 500px;
}

.video-card {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius-sm);
  gap: var(--spacing-md);
  max-width: 400px;
  border: 1px solid var(--border);
  transition: border var(--animation-duration) ease;
}

.video-card:hover {
  border: 1px solid var(--accent);
}

.video-card .video-card-thumb-info {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.video-card-thumbnail-wrapper {
  position: relative;
  aspect-ratio: 1;
  flex: 1 0 96px;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.video-card-thumbnail-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-card-duration {
  position: absolute;
  bottom: var(--spacing-xs);
  right: var(--spacing-xs);
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--text-primary);
  font-size: var(--font-size-xsmall);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-sm);
}

.video-card-infos {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.video-card-title {
  font-size: var(--font-size-large);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-card-secondLine {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: var(--spacing-xs);
  color: var(--text-secondary);
}

.video-card-secondLine .icon {
  margin-right: var(--spacing-xs);
  width: 12px;
  height: 12px;
}

.video-card-id {
  font-size: var(--font-size-xsmall);
  background: var(--shadow);
  padding: var(--spacing-xs) var(--spacing-sm);
  color: var(--text-tertiary);
  border-radius: var(--border-radius-sm);
  width: fit-content;
}

.video-card-link {
  font-size: var(--font-size-small);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.video-card-link a {
  color: var(--accent-primary);
  text-decoration: none;
  transition: color var(--animation-duration) ease;
}

.video-card-link a:hover {
  color: var(--accent);
}

.video-card-action {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  margin-left: auto;
}
