#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: var(--layout-max-width);
  min-height: min(100vh, 100dvh);
  height: min(100vh, 100dvh);
  margin: 0 auto;
  box-shadow: var(--shadow-md);
  background-color: var(--bg-tertiary);
}
